<% provide(:about, "active") %>
<% provide(:title, "About") %>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h3 class="heading">About Us</h3>
			<p>We pride ourselves in helping aspiring software engineers/developers gain the information needed to feel confident in working towards a career in development. Our goal is to give real life perspective on software engineering/development roles based on feedback from people who currently work in those areas. Also, we want to persuade more students to pursue a career in development so that we can push those same students to be the most technically inclined, polished, and focused individuals.<a href="/contact"></a></p>
			<hr>
			<div class="row">
		<div class="col-md-12">
			<h3></h3>
		</div>
		<div class="services">
			<div class="col-md-4">
				<h4></h4>
				<p>There are about 18.2 million software developers worldwide, a number that is due to rise to 26.4 million by 2019, a 45% increase, says Evans Data Corp.</p>
			</div>
			<div class="col-md-4">
				<h4></h4>
				<p>Software development is a young person's game, a fact also reflected in Years of Experience as reported in the stack survey. The average developer has less than 5 years of experience, and three-quarters of developers have less than 10 years of experience.</p>
			</div>
			<div class="col-md-4">
				<h4></h4>
				<p>While 43% of developers report a college degree in Computer Science or some related major, 69% say they are at least partly self taught. What's truly interesting is the diversity of educational paths for developers. Some are learning in school, online, on the job, or a combination of all of these options.</p>
			</div>
		</div>
	</div>
		</div>
		<div class="col-md-3">
			<img alt="About" src="http://upload.wikimedia.org/wikipedia/commons/a/ac/OneWorldTradeCenter.jpg" class="about-image"/>
		</div>
	</div>
	
</div>
