<% provide(:home, "active") %>
<% provide(:title, "Home") %>

  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Tech∙ni∙cal∙i∙ty</h1>
        <p>This is a blog created for students looking to pursue a career in Software Engineering and Development.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Software Engineer</h2>
          <p>- A person who applies the principles of software engineering to the design, development, maintenance, testing, and evaluation of the software that make computers or other devices containing software work.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Developer</h2>
          <p>- A person concerned with facets of the software development process, including the research, design, programming, and testing of computer software.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Students</h2>
          <p>- Please refer to the blog page for information from professionals who currently work in the Software Engineering/Development field. Please feel free to contact me with any questions at antonio.stuckey1@gmail.com</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2018 Tech∙ni∙cal∙i∙ty, Inc.</p>
      </footer>
    </div> <!-- /container -->


